DATABASE_URL=postgresql://user:password@localhost:5432/pontomax
DIRECT_URL=postgresql://user:password@localhost:5432/pontomax
API_PREFIX=api
JWT_ACCESS_SECRET=change-me-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d
APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3333/api

MAIL_FROM=PontoMax <seuemail@gmail.com>
SMTP_SERVICE=gmail
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua-app-password-do-google
